* {
    -webkit-tap-highlight-color: transparent; 
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    background-color: white;
    min-height: 200vh;
    padding: 10px;
    padding-top: 90px;
    max-width: 1500px;
    margin: 0 auto;
}

footer {
    background-color: #154360;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

a, a:visited, a:link {
    color: inherit;
    text-decoration: none;
}
